Repository AlertaDengue/PySUS: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - entry: black
      id: black
      name: black
      exclude: |
        (?x)(
          docs
        )
      files: ""
      language: system
      pass_filenames: true
      stages:
        - commit
      types:
        - python
        - file
        - python

    - entry: flake8
      exclude: ^$
      files: ""
      id: flake8
      language: python
      name: flake8
      pass_filenames: true
      stages:
        - commit
      types:
        - python

    - entry: isort
      exclude: "^.*/js/.*$"
      files: ""
      id: isort
      language: python
      name: isort
      pass_filenames: true
      stages:
        - commit
      types:
        - python

fix(ci): filter docutils RST warnings in Sphinx setup
  docs/source/conf.py
Due: flake8, isort

fix(ci): remove redundant errors automodule to eliminate duplicate RST processing
  docs/source/api.rst
  docs/source/conf.py
Due: flake8, isort

fix(ci): suppress docutils RST warnings via SphinxWarningHandler monkeypatch
  docs/source/conf.py
Due: flake8, isort

fix(ci): use logging filter instead of SphinxWarningHandler for RST warnings
  docs/source/conf.py
Due: flake8, isort

fix(ci): filter Sphinx RST warnings on sphinx logger (propagate=False)
  docs/source/conf.py
Due: flake8, isort

chore: remove debug print from sphinx conf.py
  docs/source/conf.py
Due: flake8, isort

fix(mypy): resolve has-type error on __all__ definition
  pysus/__init__.py
  pysus/api/_impl/__init__.py
  pysus/api/_impl/_ui.py
  pysus/api/_impl/databases.py
  pysus/tests/api/test_databases.py
Due: black, flake8, isort

fix: install conventional-changelog-writer v9
  .github/workflows/release.yaml
  Makefile
Due: none

fix: install conventional-changelog-writer v9 (#323)
  .github/workflows/release.yaml
  Makefile
Due: none

fix: remove release cmds from makefile
  .github/workflows/release.yaml
  Makefile
Due: none

fix: remove release cmds from makefile (#324)
  .github/workflows/release.yaml
  Makefile
Due: none

fix: release
  .github/workflows/release.yaml
Due: none

fix: release (#325)
  .github/workflows/release.yaml
Due: none

chore(release): 2.10.0
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  83eb87ffd33668af19756085b64f1eb1e84a93aa
Due: none

fix: include a management cli command to sync and check databasese on s3
  pysus/cli/__init__.py
  pysus/cli/management.py
  pysus/management/catalog.py
  pysus/management/records.py
  pysus/management/sync.py
  pysus/tests/cli/test_management.py
  pysus/tests/management/test_sync_internal.py
Due: black, flake8, isort

fix: include a management cli command to sync and check databasese on s3 (#326)
  pysus/cli/__init__.py
  pysus/cli/management.py
  pysus/management/catalog.py
  pysus/management/records.py
  pysus/management/sync.py
  pysus/tests/cli/test_management.py
  pysus/tests/management/test_sync_internal.py
Due: black, flake8, isort

chore(release): 2.10.1
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  8f18d7df8822a50b1082350cafb79310c5c17e1b
Due: none

fix: correct SIM metadata source and descriptions
  docs/source/guides/metadata.rst
  pysus/api/saude/schemas/vigilanciameioambiente.yaml
  pysus/tests/api/saude/test_schemas.py
Due: black, flake8, isort

fix: reinclude some sinan metadata missging when parsing the tarballs
  pysus/api/columns.py
  pysus/api/metadata/columns.py
  pysus/api/metadata/schemas/sinan/acidente_por_animais.yaml
  pysus/api/metadata/schemas/sinan/botulismo.yaml
  pysus/api/metadata/schemas/sinan/chagas.yaml
  pysus/api/metadata/schemas/sinan/chikungunya.yaml
  pysus/api/metadata/schemas/sinan/colera.yaml
  pysus/api/metadata/schemas/sinan/coqueluche.yaml
  pysus/api/metadata/schemas/sinan/dengue.yaml
  pysus/api/metadata/schemas/sinan/difteria.yaml
  pysus/api/metadata/schemas/sinan/esquistossomose.yaml
  pysus/api/metadata/schemas/sinan/febre_amarela.yaml
  pysus/api/metadata/schemas/sinan/febre_maculosa.yaml
  pysus/api/metadata/schemas/sinan/febre_tifoide.yaml
  pysus/api/metadata/schemas/sinan/hanseniase.yaml
  pysus/api/metadata/schemas/sinan/hantavirose.yaml
  pysus/api/metadata/schemas/sinan/hepatites.yaml
  pysus/api/metadata/schemas/sinan/intoxicacao_exogena.yaml
  pysus/api/metadata/schemas/sinan/leishmaniose_tegumentar.yaml
  pysus/api/metadata/schemas/sinan/leishmaniose_visceral.yaml
  pysus/api/metadata/schemas/sinan/leptospirose.yaml
  pysus/api/metadata/schemas/sinan/malaria.yaml
  pysus/api/metadata/schemas/sinan/meningite.yaml
  pysus/api/metadata/schemas/sinan/peste.yaml
  pysus/api/metadata/schemas/sinan/raiva.yaml
  pysus/api/metadata/schemas/sinan/sifilis_congenita.yaml
  pysus/api/metadata/schemas/sinan/sifilis_gestacional.yaml
  pysus/api/metadata/schemas/sinan/teti.yaml
  pysus/api/metadata/schemas/sinan/teti_neonatal.yaml
  pysus/api/metadata/schemas/sinan/tuberculose.yaml
  pysus/tests/api/test_columns.py
  pysus/tests/api/test_metadata_columns.py
Due: black, flake8, isort

fix: reinclude some sinan metadata missging when parsing the tarballs (#328)
  pysus/api/columns.py
  pysus/api/metadata/columns.py
  pysus/api/metadata/schemas/sinan/acidente_por_animais.yaml
  pysus/api/metadata/schemas/sinan/botulismo.yaml
  pysus/api/metadata/schemas/sinan/chagas.yaml
  pysus/api/metadata/schemas/sinan/chikungunya.yaml
  pysus/api/metadata/schemas/sinan/colera.yaml
  pysus/api/metadata/schemas/sinan/coqueluche.yaml
  pysus/api/metadata/schemas/sinan/dengue.yaml
  pysus/api/metadata/schemas/sinan/difteria.yaml
  pysus/api/metadata/schemas/sinan/esquistossomose.yaml
  pysus/api/metadata/schemas/sinan/febre_amarela.yaml
  pysus/api/metadata/schemas/sinan/febre_maculosa.yaml
  pysus/api/metadata/schemas/sinan/febre_tifoide.yaml
  pysus/api/metadata/schemas/sinan/hanseniase.yaml
  pysus/api/metadata/schemas/sinan/hantavirose.yaml
  pysus/api/metadata/schemas/sinan/hepatites.yaml
  pysus/api/metadata/schemas/sinan/intoxicacao_exogena.yaml
  pysus/api/metadata/schemas/sinan/leishmaniose_tegumentar.yaml
  pysus/api/metadata/schemas/sinan/leishmaniose_visceral.yaml
  pysus/api/metadata/schemas/sinan/leptospirose.yaml
  pysus/api/metadata/schemas/sinan/malaria.yaml
  pysus/api/metadata/schemas/sinan/meningite.yaml
  pysus/api/metadata/schemas/sinan/peste.yaml
  pysus/api/metadata/schemas/sinan/raiva.yaml
  pysus/api/metadata/schemas/sinan/sifilis_congenita.yaml
  pysus/api/metadata/schemas/sinan/sifilis_gestacional.yaml
  pysus/api/metadata/schemas/sinan/teti.yaml
  pysus/api/metadata/schemas/sinan/teti_neonatal.yaml
  pysus/api/metadata/schemas/sinan/tuberculose.yaml
  pysus/tests/api/test_columns.py
  pysus/tests/api/test_metadata_columns.py
Due: black, flake8, isort

chore(release): 2.10.2
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  19429f9f8016d164727632202b29bbb900a7a3a2
Due: none

fix: correct SIM metadata source and descriptions (#327)
  docs/source/guides/metadata.rst
  pysus/api/saude/schemas/vigilanciameioambiente.yaml
  pysus/tests/api/saude/test_schemas.py
Due: black, flake8, isort

chore(release): 2.10.3
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  783e1db45f1b6fe911600b97cff29624d996ef41
Due: none

docs: add 'Working with DATASUS data' gotchas & field-semantics guide (#289)
  docs/source/index.rst
  docs/source/working-with-datasus-data.rst
Due: none

docs: update all guides with current examples, add transformation/quality/export/columns pages
  docs/source/api.rst
  docs/source/conf.py
  docs/source/databases/data-sources.rst
  docs/source/databases/getting_started_pysus.ipynb
  docs/source/guides/columns.rst
  docs/source/guides/datasets.rst
  docs/source/guides/export.rst
  docs/source/guides/files-and-formats.rst
  docs/source/guides/index.rst
  docs/source/guides/metadata.rst
  docs/source/guides/pysus-orchestrator.rst
  docs/source/guides/quality.rst
  docs/source/guides/saude.rst
  docs/source/guides/transform.rst
  docs/source/guides/web-ui.rst
  docs/source/installation.rst
  docs/source/migration.rst
  docs/source/quickstart.rst
  docs/source/tutorials.rst
Due: flake8, isort

docs: update all guides with current examples, add transformation/quality/export/columns pages (#329)
  docs/source/api.rst
  docs/source/conf.py
  docs/source/databases/data-sources.rst
  docs/source/databases/getting_started_pysus.ipynb
  docs/source/guides/columns.rst
  docs/source/guides/datasets.rst
  docs/source/guides/export.rst
  docs/source/guides/files-and-formats.rst
  docs/source/guides/index.rst
  docs/source/guides/metadata.rst
  docs/source/guides/pysus-orchestrator.rst
  docs/source/guides/quality.rst
  docs/source/guides/saude.rst
  docs/source/guides/transform.rst
  docs/source/guides/web-ui.rst
  docs/source/installation.rst
  docs/source/migration.rst
  docs/source/quickstart.rst
  docs/source/tutorials.rst
Due: flake8, isort

docs: clean up Docker commands formatting
  README.md
Due: none

fix: include more SIA groups
  pysus/api/ftp/databases.py
  pysus/management/sync.py
Due: black, flake8, isort

fix: include more SIA groups (#331)
  pysus/api/ftp/databases.py
  pysus/management/sync.py
Due: black, flake8, isort

chore(release): 2.10.4
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  d380d7010f4207d7bb6b7978d78106a255e8c51e
Due: none

fix: remove VIGILANCIAMEIOAMBIENTE database due to unavibilty
  pysus/api/saude/databases.py
  pysus/management/records.py
  pysus/management/sync.py
  pysus/tests/api/saude/test_databases.py
  pysus/tests/management/test_sync_internal.py
Due: black, flake8, isort

fix: remove VIGILANCIAMEIOAMBIENTE database due to unavibilty (#332)
  pysus/api/saude/databases.py
  pysus/management/records.py
  pysus/management/sync.py
  pysus/tests/api/saude/test_databases.py
  pysus/tests/management/test_sync_internal.py
Due: black, flake8, isort

chore(release): 2.10.5
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  b7c7f2c68cb3e0f61aa80cdeda06f2ccd4488ea7
Due: none
