Repository AlertaDengue/PySUS: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort

black:
  entry: black
  name: black
  language: system
  pass_filenames: true
  stages:
  - commit

flake8:
  entry: flake8
  language: python
  name: flake8
  pass_filenames: true
  stages:
  - commit

isort:
  entry: isort
  language: python
  name: isort
  pass_filenames: true
  stages:
  - commit

Notes added by 'git notes add'
  ec074b62ecc3c2ab1e29b8769aa994cbec0cf831
Due: none

chore(translation): pt_br sphinx translation
  .gitignore
  docs/source/conf.py
  docs/source/locale/pt/LC_MESSAGES/locale/Analyzing SIA.po
  docs/source/locale/pt/LC_MESSAGES/locale/Chikungunya.po
  docs/source/locale/pt/LC_MESSAGES/locale/ESUS.po
  docs/source/locale/pt/LC_MESSAGES/locale/IBGE_data.po
  docs/source/locale/pt/LC_MESSAGES/locale/Infodengue.po
  docs/source/locale/pt/LC_MESSAGES/locale/Infogripe.po
  docs/source/locale/pt/LC_MESSAGES/locale/PNI.po
  docs/source/locale/pt/LC_MESSAGES/locale/SIM.po
  docs/source/locale/pt/LC_MESSAGES/locale/SINAN.po
  docs/source/locale/pt/LC_MESSAGES/locale/data-sources.po
  docs/source/locale/pt/LC_MESSAGES/locale/index.po
  docs/source/locale/pt/LC_MESSAGES/locale/tutorials.po
Due: flake8, isort

Revert "chore(translation): pt_br sphinx translation"
  .gitignore
  docs/source/conf.py
  docs/source/locale/pt/LC_MESSAGES/locale/Analyzing SIA.po
  docs/source/locale/pt/LC_MESSAGES/locale/Chikungunya.po
  docs/source/locale/pt/LC_MESSAGES/locale/ESUS.po
  docs/source/locale/pt/LC_MESSAGES/locale/IBGE_data.po
  docs/source/locale/pt/LC_MESSAGES/locale/Infodengue.po
  docs/source/locale/pt/LC_MESSAGES/locale/Infogripe.po
  docs/source/locale/pt/LC_MESSAGES/locale/PNI.po
  docs/source/locale/pt/LC_MESSAGES/locale/SIM.po
  docs/source/locale/pt/LC_MESSAGES/locale/SINAN.po
  docs/source/locale/pt/LC_MESSAGES/locale/data-sources.po
  docs/source/locale/pt/LC_MESSAGES/locale/index.po
  docs/source/locale/pt/LC_MESSAGES/locale/tutorials.po
Due: flake8, isort

fix(docs): pt and pt_BR build
  docs/source/conf.py
  docs/source/locale/pt/LC_MESSAGES/Analyzing SIA.po
  docs/source/locale/pt/LC_MESSAGES/Chikungunya.po
  docs/source/locale/pt/LC_MESSAGES/Dengue.po
  docs/source/locale/pt/LC_MESSAGES/ESUS.po
  docs/source/locale/pt/LC_MESSAGES/IBGE_data.po
  docs/source/locale/pt/LC_MESSAGES/Infodengue.po
  docs/source/locale/pt/LC_MESSAGES/Infogripe.po
  docs/source/locale/pt/LC_MESSAGES/PNI.po
  docs/source/locale/pt/LC_MESSAGES/SIM.po
  docs/source/locale/pt/LC_MESSAGES/SINAN.po
  docs/source/locale/pt/LC_MESSAGES/Zika.po
  docs/source/locale/pt/LC_MESSAGES/data-sources.po
  docs/source/locale/pt/LC_MESSAGES/index.po
  docs/source/locale/pt/LC_MESSAGES/tutorials.po
  docs/source/locale/pt_BR/LC_MESSAGES/Analyzing SIA.po
  docs/source/locale/pt_BR/LC_MESSAGES/Chikungunya.po
  docs/source/locale/pt_BR/LC_MESSAGES/Dengue.po
  docs/source/locale/pt_BR/LC_MESSAGES/ESUS.po
  docs/source/locale/pt_BR/LC_MESSAGES/IBGE_data.po
  docs/source/locale/pt_BR/LC_MESSAGES/Infodengue.po
  docs/source/locale/pt_BR/LC_MESSAGES/Infogripe.po
  docs/source/locale/pt_BR/LC_MESSAGES/PNI.po
  docs/source/locale/pt_BR/LC_MESSAGES/SIM.po
  docs/source/locale/pt_BR/LC_MESSAGES/SINAN.po
  docs/source/locale/pt_BR/LC_MESSAGES/Zika.po
  docs/source/locale/pt_BR/LC_MESSAGES/data-sources.po
  docs/source/locale/pt_BR/LC_MESSAGES/index.po
  docs/source/locale/pt_BR/LC_MESSAGES/tutorials.po
Due: flake8, isort

chore(online_data.SIH): add group parameter to download SIH data
  pysus/online_data/SIH.py
Due: black, flake8, isort

Remove deprecated poetry config from CI
  .github/workflows/python-package.yml
Due: none

Pinning urllib3 version to 1.26.15
  conda/dev.yaml
  poetry.lock
  requirements.txt
Due: none

chore(release): 0.9.3
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  2c69385f26ef8d0be6c600f6a6c91bac9fedb3f1
Due: none

chore: update from deprecated plugin to new version
  .releaserc.json
  Makefile
Due: none

fix(dependencies): minor dependencies fix
  poetry.lock
  pyproject.toml
Due: none

Add pandas to conda's deps
  conda/dev.yaml
Due: none

Unpin SQLAlchemy
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

fix(dependencies): minor dependencies fix (#142)
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(release): 0.9.4
  CHANGELOG.md
  pyproject.toml
  pysus/__init__.py
Due: black, flake8, isort

Notes added by 'git notes add'
  fb4521b45e51c3f03b6bdad2291c72d1e82c2831
Due: none

feat(struc): database modularization and code improvement
  poetry.lock
  pyproject.toml
Due: none

SIM database
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
Due: black, flake8, isort

SIM database
  pysus/ftp/databases.py
  pysus/utilities/brasil.py
Due: black, flake8, isort

Finish SIM and minor improvements
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
  pysus/utilities/brasil.py
Due: black, flake8, isort

SIH Database & removing dateparser in File to increase listing speed by 35x
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
  pysus/utilities/brasil.py
Due: black, flake8, isort

SINASC database
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
Due: black, flake8, isort

Docstrings
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
Due: black, flake8, isort

Saving work
  poetry.lock
  pyproject.toml
  pysus/ftp/databases.py
Due: black, flake8, isort

minor fix on zfill_year
  pysus/ftp/databases.py
Due: black, flake8, isort

Setting a time limit of 5 seconds to every test
  poetry.lock
  pyproject.toml
  pysus/tests/test_SIA.py
  pysus/tests/test_cnes.py
  pysus/tests/test_data/test_Infodengue.py
  pysus/tests/test_data/test_Infogripe.py
  pysus/tests/test_data/test_PNI.py
  pysus/tests/test_data/test_ciha.py
  pysus/tests/test_data/test_sia.py
  pysus/tests/test_data/test_sih.py
  pysus/tests/test_data/test_sinan.py
  pysus/tests/test_data/test_sinasc.py
  pysus/tests/test_data/test_vaccine.py
  pysus/tests/test_decoders.py
  pysus/tests/test_esus.py
  pysus/tests/test_ibge.py
  pysus/tests/test_init.py
  pysus/tests/test_sih.py
  pysus/tests/test_sim.py
  pysus/tests/test_utilities.py
Due: black, flake8, isort

redo poetry lock
  poetry.lock
  pyproject.toml
Due: none

minor fix on dockerfile
  docker/Dockerfile
Due: none

skip tests that take over 5 seconds
  pysus/tests/test_cnes.py
  pysus/tests/test_data/test_PNI.py
  pysus/tests/test_data/test_sim.py
  pysus/tests/test_data/test_sinan.py
  pysus/tests/test_decoders.py
  pysus/tests/test_ibge.py
  pysus/tests/test_sih.py
  pysus/tests/test_sim.py
Due: black, flake8, isort

Improve SINAN.get_files to accept multiple queues
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
  pysus/tests/test_data/test_sim.py
Due: black, flake8, isort

Include asynchronous FTP download method
  poetry.lock
  pyproject.toml
  pysus/ftp/__init__.py
  pysus/ftp/async_utils.py
Due: black, flake8, isort

Improve FTP objects when listing ftp content
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
Due: black, flake8, isort

Implement download methods on File class
  pysus/ftp/__init__.py
  pysus/ftp/async_utils.py
  pysus/ftp/databases.py
  pysus/tests/test_data/test_Infodengue.py
Due: black, flake8, isort

Fix some docstrings
  pysus/ftp/__init__.py
  pysus/ftp/databases.py
Due: black, flake8, isort

Replace online_data.SINAN methods with new class
  pysus/ftp/databases.py
  pysus/online_data/SINAN.py
Due: black, flake8, isort

Replace online_data.SIM download method with new class
  pysus/online_data/SIM.py
Due: black, flake8, isort

Replace online_data.sinasc download method with new class
  pysus/online_data/sinasc.py
Due: black, flake8, isort

Replace online_data.SIH download method with new class
  pysus/online_data/SIH.py
  pysus/online_data/SINAN.py
Due: black, flake8, isort

Replace online_data.SIA download method with new class
  pysus/online_data/SIA.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$ and \.py$ and not ((?x)(
  docs
)
)
  flake8: any of: \.py$, but not: ^$
  isort: any of: \.py$, but not: ^.*/js/.*$
